%h1 Listing project_memberships

%table
  %tr
    %th
    %th
    %th

  - @project_memberships.each do |project_membership|
    %tr
      %td= link_to 'Show', project_membership
      %td= link_to 'Edit', edit_project_membership_path(project_membership)
      %td= link_to 'Destroy', project_membership, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Project membership', new_project_membership_path
