%h1
	= @project.name
%h2 
	= @project.description
	  %img{:src => "http://lorempixel.com/400/250/"}
	    %dl
	      %dt Needs
	      %dd Developers
	      %dd Engineers
	    %a.join{:href => "#"} Join this Project

-@project.activities.each do |activity|
%h3
 	=activity.name
 	%br
	 	=activity.description